h1{
  text-align:center;
  background-color: #dddddd;
  color: #444444;
  border-bottom: 2px solid #cccccc;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin:0;
}

.container {
  border: 2px solid #cccccc;
  background-color: #eeeeee;
  margin-top: 2rem;
  -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);
  box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.18);  
}

form {
  padding: 1rem 3rem 1rem 3rem;
  color: #444444;
}

.form-check {
  padding: .25em 0 .25em 0;
}

label{
  font-weight: 500;
}
